div.content {
  margin-top: calc(var(--header-height) + 12px);
  margin-left: var(--quest-menu-width);
  padding-top: 30px;
  padding-left: 20px;
}

body > .side {
  margin-top: 45px;
}

body #siteTable .thing {
  width: calc(100% - var(--sidebar-width) - 24px);
}

.submit_text.roundfield {
  top: 210px;
}
