.q_h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: var(--header-col);
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--header-col);
  width: 100%;
  display: block;
}
